.card{
    text-decoration: none;
    transition: filter 0.5s ease-in-out;

    /* filter: drop-shadow(.5rem 0 1em rgba(54, 49, 200, 0.4)); */
}




.projectCardhoverImg{
    position: relative;
    transition: padding 0.5s;
}

  
.projectCardhoverImg svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the SVG is behind other content */
}

.card:hover .projectCardhoverImg{
    /* background-image: url( '/public/svg/projectHoverImg.svg' ); */

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* padding: 1rem 0; */
    padding: .5rem;
}

.card:hover .projectCardhoverImg .image{
    transform: scale(0.9);
    transition: transform 0.5s;
}


.image{
    /* background-color: #1E1849; */
    height: 20rem;
    border-radius: .4em;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


.projectCardhoverContent{
    background: transparent;
    transition: padding 0.5s;

}

.card:hover .projectCardhoverContent{
    background-image: url( '/public/svg/projectHoverContent.svg' );

    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: .5rem;
    margin-top: -0.2rem;
}

.card:hover .cardContent{
    padding: 0 2em;
}


.btns{
    display: flex;
    gap: 1em;
    margin: 2em;
}


.btns a{
    display: block;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s, background-color 0.5s;
}

.btns a:hover{
    transform: scale(1.1);
    transition: 1s ease-in-out;
    background-color: #FFA6FF;
}

.btns a:hover i{
    color: #0C0118;
}

.btns i{
    font-size: 28px;
}

.websiteLink{
    background-color: #EAE5F1;
}

.websiteLink i{
    color: #301449;
}

.readMoreLink{
    background-color: #0C0118;
}

.readMoreLink i{
    color: #EAE5F1;
}


.cardContent h3{
    text-transform: none;
    margin-bottom: 0em;
}

.categoryHashtags{
    display: flex;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
}

.categoryHashtags i{
    display: block;
    color: #51D6AF;
    font-weight: 200;
    font-size: 16px;
}