
.card {
    text-decoration: none;
    transition: filter 0.5s ease-in-out;
}

.card .hide{
    display: none;
    animation: vanish 1s;
}

.card .show{
    display: block;
    animation: appear 1s;
}

.projectCardhoverImg {
    position: relative;
    height: fit-content;
    width: fit-content;
    z-index: -1;
    transition: all 0.5s ease-in-out; /* Added transition */
}

.projectCardhoverImg svg {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 0.2rem);
    margin: 0;
    padding: 0;
    transition: all 0.5s ease-in-out; /* Added transition */
}

.image {
    height: 20rem;
    border-radius: .4em;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-size 0.5s ease-in-out; /* Added transition */
}

.hoverVideo {
    -webkit-mask-image: url("./imageHoverOutline.svg");
    mask-image: url("./imageHoverOutline.svg");
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    transition: all 0.5s ease-in-out; /* Added transition */
}

.categoryHashtags {
    display: flex;
    gap: 1em;
    margin-top: .5em;
    margin-bottom: 2em;
}

.categoryHashtags i {
    display: block;
    color: #51D6AF;
    font-weight: 200;
    font-size: 16px;
}

.cardContent h3{
    margin-bottom: 1.5rem;
}


.card .projectCardhoverContent {
    padding-top: .5rem;
    width: calc(100% + 0.2rem);
    padding-bottom: 0;
    margin-top: -0.45rem;
    z-index: 10;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}




@media screen and (min-width: 600px) {
    
    /* Hovers */
    .card:hover {
        filter: drop-shadow(.5rem .5rem 1em rgba(54, 49, 200, 0.4));
    }
    
    .card:hover .projectCardhoverContent {
        background-image: url('/public/svg/projectHoverContent.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* padding-top: .5rem; */
        /* width: calc(100% + 0.2rem); */
        /* padding-bottom: 0;
        margin-top: -0.45rem;
        z-index: 10; */
        transition: all 0.5s ease-in-out; /* Added transition */
    }
    
    .card:hover .cardContent {
        padding: 0 2rem 0.5rem 2rem;
        transition: padding 0.5s ease-in-out; /* Added transition */
    }

    
}