.card{
    text-decoration: none;
}

.image{
    background-color: #1E1849;
    height: 20rem;
    border-radius: .4em;
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.btns{
    display: flex;
    gap: 1em;
    margin: 2em;
}


.btns a{
    display: block;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns a:hover{
    scale: 1.2;
    transition: 1s ease-in-out;
    background-color: #FFA6FF;
}

.btns a:hover i{
    color: #0C0118;
}

.btns i{
    font-size: 28px;
}

.websiteLink{
    background-color: #EAE5F1;
}

.websiteLink i{
    color: #301449;
}

.readMoreLink{
    background-color: #0C0118;
}

.readMoreLink i{
    color: #EAE5F1;
}


.cardContent h3{
    text-transform: none;
    margin-bottom: 0em;
}

.categoryHashtags{
    display: flex;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
}

.categoryHashtags i{
    display: block;
    color: #51D6AF;
    font-weight: 200;
    font-size: 16px;
}