.disabledCategory{
    border-radius: 0.5rem;
    background-color: #281c33;
    padding: 1rem 1.5rem;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}

img, video{
    width: 100%;
    border-radius: 1em;

    /* height: 100%; */
    /* object-fit: cover;
    object-position: center; */
}



.bigMedia img, .bigMedia video{
    object-fit: cover;
    object-position: center;
}

.fullViewportWidth{
    margin-bottom: 12rem;
}

.fullViewportWidth .bigMedia img, .fullViewportWidth .bigMedia video{
    border-radius: 0;
}

.topInfo{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;

}

/* .topInfo h1{
    margin-bottom: 1em;
    font-size: 42px;
} */

.categories{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

}

.autoLayoutText{
    columns: 1;
    margin-bottom: 4em;
}

/* _________________ Devices images _______________________*/

.devicesImagesContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
    margin-top: 8em;
}

.devicesImagesContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.deviceImgContainer{
    margin-bottom: 6em;
    margin-top: 8em;
}

.deviceImgContainer img{
    width: 100%;
    height: 25rem;
    object-fit: cover;
    object-position: center;
}

.externalLinksContainer{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 6em 0 0 0;
}

/* ____________ Grid images / video's */

.imagesContainer{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2em;
    margin-bottom: 2rem;
    padding-top: 0;

}

.imagesContainer div img, .imagesContainer div video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.processTitle{
    margin-top: 6rem;
}



.bentoGrid div+div{
    margin-top: 2rem;
}




@media screen and (min-width: 600px) {
    .topInfo, .categories{
        justify-content: center;
        align-items: center;
    }

    .autoLayoutText{
        /* Firefox */ 
        columns: 40px 2; 
        column-gap: 2em;
    }

    .devicesImagesContainer{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .externalLinksContainer{
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        margin: 6em auto;
    }

    .imagesContainer{
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(auto-fit, 380px); */
        margin-top: 4em;
        margin-bottom: 8rem;
    }

    
/* 
    .mediumImgVideo{
        grid-column: span 1;
        
    } */


    .bentoGrid {
        display: grid;
        gap: 2rem;
        grid-auto-rows: 5rem;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        grid-auto-flow: dense;
        /* margin: 8rem; */
    }
    
    .bentoGrid > div {
        border-radius: 1rem;
        overflow: hidden;
        /* min-height: 5rem; */
    }

    .bentoGrid div img, .bentoGrid div video{
        cursor: pointer;
        /* width: 100%; */
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 0;
    }

    
    .bentoGrid div+div{
        margin-top: 0;
    }

    /* .bigImgVideo{
        grid-column: 1 / -1;
    } */

    .paragraphTextContainer p{
        line-height: 1.8rem;
    }

    .flexibleContent+.flexibleContent{
        margin-top: 6rem;
    }




    

}