.shortOverview{
    background-image: linear-gradient(to right bottom, #180D2E, rgba(74, 34, 106, 0.6));
    padding: 2em;
    border-radius: 1em;
}

.shortOverview p {
    color: #EAE5F1;
}

.shortOverview h2{
    margin-bottom: 1em;
    margin-top: .5em;
    text-transform: none;
}

.shortOverview h5, .bulletPoint i {
    margin: 0;
    color: #FFA6FF;
}

.shortOverview h4{
    text-transform: uppercase;
    font-size: small;
}

.shortOverview p{
    margin: 0;
}

.bulletPoint{
    display: flex;
    gap: 2em;
    align-items: center;
}

.bulletPoint i{
    font-size: xx-large;
}

.bulletPoint+.bulletPoint{
    margin-top: 0.5em;
}

.sildeInfoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3em;
}

.circlesContainer{
    display: flex;
    gap: 0.5em;
}

.circle{
    border: 1.5px solid #EAE5F1;
    border-radius: 100%;
    width: 0.5em;
    height: 0.5em;
}

.selectedCircle{
    border: 3px solid #EAE5F1;
}

.arrowBtns{
    display: flex;
    gap: 2em;
}

.arrowBtns button{
    background: none;
    border: none;
    cursor: pointer;
}

.arrowBtns i{
    font-size: large;
    color: #EAE5F1;
}

.arrowBtns button:hover i{
    color: #FFA6FF;
    scale: 1.4;
    transition: 0.3s ease-in-out;
}



@media screen and (min-width: 600px) {
    .shortOverview{
        width: 100%;
        margin: 0 auto;
    }

    
    .circle{
        width: 0.8em;
        height: 0.8em;
    }

    .arrowBtns i{
        font-size: x-large;
    }
}