.filters{
    display: flex;
    gap: 2em;
    margin-bottom: 6em;
    margin-top: 4em;
    flex-wrap: wrap;
}

.projectsOverview{
    margin-top: 8em;
}

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4rem;
}
