/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body{
  background-color: #0C0118;
}

p, b, i, span, div{
  color: #D9D0E3;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Kanit", sans-serif;
  font-weight: 700;
  font-style: normal;

  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

h1, h2, h3{
  color: #EAE5F1;
}

h1{
  font-size: 42px;
  letter-spacing: normal;
}

h2{
  font-size: 28px;
}

h3{
  font-size: 24px;
}

h4{
  color: #EAE5F1;
}

h5{
  color: #FFA6FF;
  font-size: 14px;
}



.title{
  margin-top: 4em;
  margin-bottom: 2em;
}


.gradientText{
  background: -webkit-linear-gradient(#EAE5F1, #BDABF0);
  background-image: linear-gradient(#EAE5F1, #BDABF0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.gradients{
  width: 100%;
  position: absolute;
  z-index: -10;
}

.background-gradient-top-page{
  /* background: -webkit-linear-gradient(185deg, #E7D4B7, #E9D9D4, #F4EBE3); */

  /* background: linear-gradient(215deg, #E7D4B7 0%, #E9D9D4 25%, #F4EBE3 100%); */

  background: rgb(63,28,92);
  background: radial-gradient(circle at 70% 14em, rgba(63,28,92,1) 0%, rgba(34,17,68,1) 9%, rgba(12,1,24,1) 35%, rgba(12,1,24,1) 100%);
  height: 100vh; 
  
  /* background-image: linear-gradient(to left bottom, #e7d4b7, #ead4bc, #ebd5c2, #ebd6c8, #ebd7cd, #ebd9d0, #ecdbd4, #ecddd7, #eee1da, #f0e4dd, #f2e8e0, #f4ebe3); */
}



.container{
  padding: 3em 10%;
}

@media screen and (min-width: 600px) {
    
  .container {
      padding: 0 10%;
  }


  p, b, i, span, div{
    font-size: 18px;
  }
  
  
  h1{
    font-size: 73px;
  }
  
  h2{
    font-size: 32px;
  }

  h3{
    font-size: 28px;
  }
  
  
  
  h5{
    font-size: 18px;
  }
}
