/* Typewriter.module.css */
.container{
    margin-bottom: 2em;
}

.container .text, .text span{
    position: relative;
    color: #51D6AF;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3em;
    overflow-x: hidden;
}



@media screen and (min-width: 600px) {
    
    .container{
        margin-top: -2em;
    }

    .container .text{
        font-size: 18px;
    }
  
  
    
}