@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

.externalLink{
    background-color: #161041;
    border: 2px solid #3531C8;
    cursor: pointer;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: 0.5em;
    text-decoration: none;

}


.externalLink:hover{
    background-color: #161041;
    border: 2px solid #3531C8;
    scale: 1.1;
    box-shadow: 10px 10px 20px #3631c890;

}

.externalLink i, .externalLink p{
    font-weight: 600;
}

.externalLink i {
    font-size: 42px;
}

.externalLink p{
    margin: 0;
}

@media screen and (min-width: 600px){
    .externalLink{
        min-width: 6em;
        min-height: 8em;
        width: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        white-space: pre-line;
        text-align: center;
    }
}