.card{
    display: flex;
    flex-direction: column;
    background: rgb(24,13,46);
    background: linear-gradient(5deg, rgba(24,13,46,1) 0%, rgba(74,34,106,0.6) 100%);
    padding: 2em;
    border-radius: 0.5em;
    gap: 4em;
}

.card h2{
    margin-top: 0.5em;
}

.card h5{
    margin: 0;
}


.card p{
    margin-bottom: 2em;
}

.content{
    width: 100%;
}

.phoneNrEmailDiv a{
   color: #EAE5F1;
   text-decoration: underline;
}
.phoneNrEmailDiv i{
    margin-right: 1rem;
    font-size: x-large;
}

.phoneNrEmailDiv+.phoneNrEmailDiv{
    margin-top: 1em;
}


.socialMedia{
    display: flex;
    gap: 2em;
    margin-top: 4em;
}


.socialMedia a{
    text-decoration: none;
}

.socialMedia i{
    font-size: 26px;
    width: 3rem;
    height: 3rem;
    color: #51D6AF;
    border: 1px solid #51D6AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    transition: 0.2s ease-in-out;
    
}

.socialMedia i:hover{
    background-color: #4A226A;
    color: #74ebc7;
    scale: 1.1;
}


.image{
    display: block;
    /* background-color: #140723; */
    width: 100%;
    min-height: 18rem;
}


@media screen and (min-width: 900px) {
    .card{
        flex-direction: row;
    
    }


  }