.btn{
    color: #82B3A9;
    border-radius: 0.5rem;
    border: 1.5px solid #82B3A9;
    padding: 1rem 2rem;
    text-decoration: none;
    display: block;
}

.btn span, .btn i{
    color: #82B3A9;
}

.btn span{
    font-size: medium;
}
.btn i{
    font-size: large;
    margin-right: 1em;
}