.btn{
    color: #51D6AF;
    border-radius: 0.5rem;
    border: 2px solid #51D6AF;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
}


.btn:hover{
    background-color: #1a0334;
    scale: 1.1;
}


.selected{
    background-color: #51D6AF;
    color: #0C0118;
}