/* .name, .jobTitle{
    text-transform: uppercase;
} */

.lastName{
    margin-top: -1em;
}



.introContainer{
    width: 100%;
    margin-bottom: 6em;
    overflow: hidden;
}


.btnsContainer{
    margin-top: 2em;
    display: flex;
    gap: 2em;
}

/* _____________ Image ________________ */

.imgContainer{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2em;
}

.imgContainer img, .imgContainer video {
    width: 100%;
    border-radius: 0.5em;
    cursor: initial;
}


@media screen and (min-width: 1000px) {
    .flexContainer{
        display: flex;
        gap: 4em;
        align-items: center;
    }

    .imgContainer{
        z-index: 5;
    }

    .introContainer{
        overflow: visible;
    }
    
}
