.flexContainer{
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
    padding: 3em 0;
    /* border-bottom: 2px solid rgba(54, 49, 200, 0.6); */
}

.flexContainer a{
    display: block;
    text-decoration: none;
    background-color: rgba(42, 40, 105, 0.6);
    border-radius: 0.5em;
    padding: 1em;
    padding-bottom: -0.5em;
    /* border: 1px solid #9A7AB3; */
    transition: 0.2s ease-in-out;
}

.flexContainer a:hover{
    transform: scale(1.1);
}

.flexContainer a:hover h3, .flexContainer a:hover i{
    color: #51D6AF;
}

.arrow i{
    color: #9A7AB3;
    font-size: 48px;
}

.text{
    display: none;
}

.text h3{
    text-transform: none;
}


.text p{
    color: #FFA6FF;
}

.alignRight{
    text-align: right;
}

@media screen and (min-width: 600px) {
    .flexContainer a{
        display: flex;
        text-decoration: none;
        background: none;
        padding: 0;
        border: none;
        gap: 1em;
        align-items: flex-start;
        transition: 0.5s ease-in-out;
    }

    
    .flexContainer a:hover{
        transform: scale(1.1);
        background: none;
    }

    .text{
        display: block;
    }

    .text h3{
        margin-top: 0.2em;
        color: #9A7AB3;
    }
}